[Desktop Entry]
Type=Action
Name[en]=Execute in terminal
Name[C]=Execute in terminal
Icon[en]=gtk-media-play-ltr
Icon[C]=gtk-media-play-ltr
TargetToolbar=true
ToolbarLabel[en]=Execute in terminal
ToolbarLabel[C]=Execute in terminal
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en]=Default profile
Name[C]=Default profile
Exec=gnome-terminal --working-directory %d -x %f
SelectionCount==1
Capabilities=Executable;
